* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 233, 233);
}

.container {
  width: 60%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.tophead {
  color: #8b0000;
}

.recent-score {
  width: 40%;
  height: auto;
  border: 8px dotted rgb(22, 22, 21);
  border-radius: 20px 50px 20px 50px;
  margin: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RSR {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-container {
  width: 90%;
  height: 70%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
}

tr {
  border: 2px solid black;
}

table tr:nth-child(odd) td {
  background-color: #fff;
}

table tr:nth-child(even) td {
  background-color: rgb(179, 182, 184);
}

.table-container ul li {
  list-style: none;
  padding: 8px;
}

.add-score {
  width: 40%;
  height: auto;
  border: 8px dotted rgb(22, 22, 21);
  border-radius: 50px 20px 50px 20px;
  margin: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #a03939;
}

#user {
  width: 70%;
  height: 40px;
  border-radius: 40px;
}

#score {
  width: 70%;
  height: 40px;
  border-radius: 40px;
}

.submit {
  width: 80px;
  height: 40px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  border-radius: 5px;
  background-color: #8a3b3b;
  color: #fff;
}

#refresh {
  width: 70px;
  height: 35px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  border-radius: 5px;
  background-color: #8a3b3b;
  color: #fff;
}

.rs {
  color: #8b0000;
}
